@font-face{
    font-family: alex;
    src: url(../font/AlexBrush-Regular.ttf);
}

/* @media screen and (max-width:800px){
    #headersection header{
        width: 90%;
        margin: 10px;
        background-color: white;
        color: black;
    }
    .headertext{
        font-size: 1.5em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
    }
} */

@keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
  }


 #headersection header{
    height: 150px;
    width: 90%;
    margin-bottom: 2px;
    margin-left: 60px;
    margin-top: 40px;
    background: url(../image/OIP.jpg) left center no-repeat ;
    background-color: rgb(111, 114, 114);
    background-position: left;
    border-radius: 5px;
    
}
#headersection nav{
    
    height: 70px;
    width: 90%;
   /* border-top: 4px double green;
    border-bottom: 4px double green; */
    margin-top: 0px;
    margin-left: 60px;
    background-color: #4c4b40;
    border-radius: 5px;
    padding-top: 10px;
background-image: radial-gradient( #5e5b5b, #00AAAA, rgb(143, 140, 140));

} 
nav ul li{
    display: inline;
    font-style: normal;
    margin-right: 10px;
    font-family: monospace;
    font-size: 1.5em;
    

}
nav ul li a{
    text-decoration: none;
    color: white;
    
}

/* #login{
 color:blue;
    text-decoration: underline;
    margin-left: 600px;
}
article + p{
    color: blue;
}*/
 /* nav ul li:last-of-type{
    margin-left: 300px;
} */
 nav ul li:nth-child(4){
    margin-left: 650px
} 
.pagefooter{
    height: 80px;
    width: 90%;
    border-top: 4px double green;
    margin-left: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: right;
    padding-right: 10px;
       clear: both;
} 
nav ul li a:hover{
    border: 2px solid white;
}
.headertext{
    position: absolute;
    left: 600px;
    top: 40px;
font-family: alex;
font-size: 5em;
}