  #main aside{
   border-right: 4px double green;
    height: 600px;
    width: 25%;
    margin-left: 60px;
    float: left;
    margin-top: 0px ;
} 

    #main article{
    margin-top: 0px;
    height: 600px;
    float: left;
    width:65%;
    padding-left:  10px; ; 
    padding-top: 10px ;
    text-align: justify;
    column-count: 3;
    /* background: linear-gradient(left bottom, left top, color-stop(0.70,#00AAAA)
    , color-stop(0.30,#432100));*/
    color: white;
    }
    #main article{
        background-image: url(../image/milky-way-3083808.jpg);
        background-repeat: repeat;
    }
    