ul li{
color: blue;
    font-size: 20px;
    font-family: cursive;
    text-transform: uppercase; 
    text-decoration:underline;
    text-decoration-color: black;   
    line-height: normal; 
    word-spacing: 10px;  
    letter-spacing: 10px; 
}
h1 {
    color: seagreen;
}
tr th{
    color: chartreuse;
    text-transform: uppercase;
}
[href]{
    text-decoration: none;
}
[type]{
    background-color: black;
    color: darkgray;
}
 /* table tr{
    background-color: blue;
}
/* table tr td:first-of-type{
    background-color: blueviolet;
} 
table tr td:last-of-type{
    background-color: brown;
}
table tr td:nth-child(1){
    background-color: cornflowerblue;
} */
tbody td{
    background-color: cornflowerblue;
}
tbody tr{
    background-color: crimson;
}
tbody tr:nth-child(odd){
    background-color: darkgoldenrod;

}
tbody{
    border-radius: 10%;
} 
[border]{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
table tr th:first-of-type{
    border-top-left-radius: 10px;
}
table tr th:last-of-type{
    border-top-right-radius: 10px;
}
table tr:last-of-type td:first-of-type{
    border-bottom-left-radius: 10px;
}
table tr:last-of-type td:last-of-type{
    border-bottom-right-radius: 10px;
}
table tr:hover{
    background-color: darkgray;
}